@model oFormsWeb.Models.FormTemplate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MessageTemplate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageTemplate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldTemplate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldTemplate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = ViewData["FormId"] }) |
    @Html.ActionLink("Back to Form Details", "Details", "Form", new { id = ViewData["FormId"] })
</div>
